// Create something awesome
$themecolor:#b51700;
$themedark:#aa071f;

@import "tofuture/assets/css/shixi";
@import "tofuture/assets/css/general";


.nav-menu > ul > li > a{
  font-size: 18px;
}

footer .qrcode-wrap {
  width: 100%;
  float: left;
  font-size: 12px;
  img{
    width: 100px;
  }
}

.text-bg{
  padding:0.2em 1em;
  background-color:$themecolor;
}
.bg-moving{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer{
  background-color: #232121;
  & .link-title{
    font-size: 16px;
    color: #e4e4e4;
  }
  & .footer-info p{
    color: #e4e4e4;
  }
  ul li{
  color: #e4e4e4;
  }
}
.win-list{
  ul li{
    list-style: none;
    font-size: 16px;
    line-height: 1.5em;
  }
  ul{
    margin: 0;
    padding:0;
  }
}
.special-list{
  li::before  {
    content: "•";
    color: $themecolor;
    display: inline-block; width: 1em;
    margin-left: -1em;
  }
  li{
    list-style: none;
  }
}
.whr{
  width: 100%;
  margin:1em auto;
  border-top:solid 2px $themecolor;
  border-bottom:solid 2px $themecolor;
  max-width: 100px;
  height: 5px;
  display: block;
}

.career-info{
  width: 100%;
  height: 80px;
  padding: 10px;
  border:solid 2px $themecolor ;
  h3{
    display: block;
    padding: 12px;
    margin: 0;
    background-color: #d4d4d463;
  }
}
.ptb-150{
  padding-top: 150px;
  padding-bottom: 150px;
}
.about-item{
  h3{
    i{
      color: $themecolor;
    }
  }
  ul li{
    font-size: 16px;
  }
}
.home-text{
  i{
    color:$themecolor;
  }
  margin: 2em;
  padding: 2em;
  border: 1px solid #e0e0e0;
}



.content-detail-wrap{
  .label{
    color: #000;
    padding: 0;
    font-size: 1em;
    margin: 1em 0 0.5em 0;
  }
  input{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding:10px 0.5em;
    &:focus{
      border-radius: 5px;
    }
  }
}
.confirm{
  color:#fff;
  background-color: $themedark;
  text-transform: unset;
}

.box{
  border: 1px solid #e3e3e3;
  border-radius:5px;
  padding: 2em;
  background-color: #fafafa38;
  margin-bottom:1em;
}
.customer-btn{
  height: 3em;
  width: 100%;
  border-radius:5px;
  box-shadow: 1px 1px 8px #fafafa38;
  border: 1px solid #e3e3e3;
  display: block;
  line-height: 3em;
  &:active,&:focus{
    text-decoration: none;
  }
}
@media (min-width: 992px){
  .img-container{
    width: 60%;
    margin: auto;
  }
}

.online-class{
  .panel-title{
    margin: 0;
  }
  .cats{
    ul{
      padding: 0;
      li{
        padding:0.3em 0 0.3em 1em;
        list-style:none;
      }
    }
  }
}
.team-item{
  .team-item-img{
    text-align: center;
    img{
      height: 320px;
      margin: 0 auto;
      max-width: 240px;
    }
  }
}

.jinrong{
  .box{
    ul{
      max-width: 500px;
      margin: 0 auto;
    }
    h3{
      text-align: center;
    }
  }
}

.is-marginless{
  margin: 0;
}

.pagination-list li {
  float: left;
  margin: 0 1em;
  padding: 0 0.5em;
  border: 1px solid;
}

.pagination-list{
  list-style: none;
  margin: 0;
}