// Create something awesome
$themecolor:#b51700;
$themedark:#aa071f;

@import "tofuture/assets/css/shixi";

body,html{
  font-family: myFirstFont,lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-weight: unset;
}
h1, h2, h3, h4, h5, h6,p{
  font-family: myFirstFont,lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-weight: unset;
}
p{
  font-size: 20px;
  line-height: 1.5em;
  color:#0f0f0f;
  font-weight: unset;
}

ul li{
  font-size: 16px;
  line-height: 1.5em;
 }
.fs-16{
  font-size: 16px;
}
.fs-14{
  font-size: 14px;
}
.fs-20{
  font-size: 20px;
}
.bg-special{
  background-color: $themedark;
}
.bg-normal{
  background: $themecolor;
}
.bg-lt{
  background-color: #eaeaea42;
}
.no-list-style{
    margin: 0;
    padding-left:0;
    li{
      list-style-type: none;
    }
}

.content-carousel .owl-controls .owl-buttons .owl-prev,
.content-carousel .owl-controls .owl-buttons .owl-next{

}

.nav-menu > ul > li > a{
  font-size: 18px;
}

footer .qrcode-wrap {
  width: 100%;
  float: left;
  font-size: 12px;
  img{
    width: 100px;
  }
}

.text-bg{
  padding:0.2em 1em;
  background-color:$themecolor;
}
.bg-moving{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer{
  background-color: #232121;
  & .link-title{
    font-size: 16px;
    color: #e4e4e4;
  }
  & .footer-info p{
    color: #e4e4e4;
  }
  ul li{
  color: #e4e4e4;
  }
}
.win-list{
  ul li{
    list-style: none;
    font-size: 20px;
    line-height: 1.5em;
  }
  ul{
    margin: 0;
    padding:0;
  }
}
.special-list{
  li::before  {
    content: "•";
    color: $themecolor;
    display: inline-block; width: 1em;
    margin-left: -1em;
  }
  li{
    list-style: none;
  }
}
.whr{
  width: 100%;
  margin:1em auto;
  border-top:solid 2px $themecolor;
  border-bottom:solid 2px $themecolor;
  max-width: 100px;
  height: 5px;
  display: block;
}

.career-info{
  width: 100%;
  height: 80px;
  padding: 10px;
  border:solid 2px $themecolor ;
  h3{
    display: block;
    padding: 12px;
    margin: 0;
    background-color: #d4d4d463;
  }
}
.ptb-150{
  padding-top: 150px;
  padding-bottom: 150px;
}
.about-item{
  h3{
    i{
      color: $themecolor;
    }
  }
  ul li{
    font-size: 20px;
  }
}