// Create something awesome
$themecolor:#b51700;
$themedark:#aa071f;

@import "tofuture/assets/css/shixi";
@import "tofuture/assets/css/general";
@import "tofuture/assets/css/verify.css";

.nav-menu > ul > li > a{
  font-size: 18px;
}
.color-t{
  color:$themecolor;
}
footer .qrcode-wrap {
  width: 100%;
  float: left;
  font-size: 12px;
  img{
    width: 100px;
  }
}

.text-bg{
  padding:0.2em 1em;
  background-color:$themecolor;
}
.bg-moving{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer{
  background-color: #232121;
  & .link-title{
    font-size: 16px;
    color: #e4e4e4;
  }
  & .footer-info p{
    color: #e4e4e4;
  }
  ul li{
  color: #e4e4e4;
  }
}
.win-list{
  ul li{
    list-style: none;
    font-size: 16px;
    line-height: 1.5em;
  }
  ul{
    margin: 0;
    padding:0;
  }
}
.special-list{
  li::before  {
    content: "•";
    color: $themecolor;
    display: inline-block; width: 1em;
    margin-left: -1em;
  }
  li{
    list-style: none;
  }
}
.whr{
  width: 100%;
  margin:1em auto;
  border-top:solid 2px $themecolor;
  border-bottom:solid 2px $themecolor;
  max-width: 100px;
  height: 5px;
  display: block;
}

.career-info{
  width: 100%;
  height: 80px;
  padding: 10px;
  border:solid 2px $themecolor ;
  h3{
    display: block;
    padding: 12px;
    margin: 0;
    background-color: #d4d4d463;
  }
}
.ptb-150{
  padding-top: 150px;
  padding-bottom: 150px;
}
.about-item{
  h3{
    i{
      color: $themecolor;
    }
  }
  ul li{
    font-size: 16px;
  }
}
.home-text{
  i{
    color:$themecolor;
  }
  margin: 2em;
  padding: 2em;
  border: 1px solid #e0e0e0;
}



.content-detail-wrap{
  .label{
    color: #000;
    padding: 0;
    font-size: 1em;
    margin: 1em 0 0.5em 0;
  }
  input{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding:10px 0.5em;
    &:focus{
      border-radius: 5px;
    }
  }
}
.confirm{
  color:#fff;
  background-color: $themedark;
  text-transform: unset;
}

.box{
  border: 1px solid #e3e3e3;
  border-radius:5px;
  padding: 2em;
  background-color: #fafafa38;
  margin-bottom:1em;
}
.customer-btn{
  height: 3em;
  width: 100%;
  border-radius:5px;
  box-shadow: 1px 1px 8px #fafafa38;
  border: 1px solid #e3e3e3;
  display: block;
  line-height: 3em;
  &:active,&:focus{
    text-decoration: none;
  }
}
@media (min-width: 992px){
  .img-container{
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 450px){
  .inner-intro .container .title {
    padding-top: unset;
  }
}

.online-class{
  .panel-title{
    margin: 0;
  }
  .cats{
    ul{
      padding: 0;
      li{
        padding:0.3em 0 0.3em 1em;
        list-style:none;
      }
    }
  }
}
.team-item{
  .team-item-img{
    text-align: center;
    img{
      height: 320px;
      margin: 0 auto;
      max-width: 240px;
    }
  }
}

.jinrong{
  .box{
    ul{
      max-width: 500px;
      margin: 0 auto;
    }
    h3{
      text-align: center;
    }
  }
}

.is-marginless{
  margin: 0;
}

.pagination-list li {
  float: left;
  margin: 0 1em;
  padding: 0 0.5em;
  border: 1px solid;
}

.pagination-list{
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.is-centered{
  margin-left: auto!important;
  margin-right: auto!important;
}

.pagination-previous{
  position: absolute;
  left: 0;
  font-size: 20px;
}
.pagination-next{
  position: absolute;
  right: 0;
  font-size: 20px;
}
.about-item{

  h1 {
    font-size: 43px;
    line-height: 40px;
  }


  h2 {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  h3 {
    font-size: 21px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 28px;
  }


  h5 {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
  }

  h6 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
  }

}

.course{
  background-color: #ffffffe8;
  box-shadow: 2px 3px 4px 2px #4242423d;
  .course-item{
    padding-left: 2em;
    padding-right: 2em;
  }
}

.btn-theme{

  color: #ffffff;
  background-color: $themecolor;
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 20px;
  border-radius: 0.2em;
}

.dontai{
  width: 100%;
  position: relative;
  ul{
    margin-top: 2em;
    margin-left:0;
    padding:0;
    li{
      margin-top: 0.5em;
      list-style:none;
    }
  }
}

.img-ctn{

  position: relative;
  padding: 2em;
  border: 1px solid #e3e3e3;
  margin-bottom: 2em;
  img{
    width: 100%;
    box-shadow: 1px 1px 9px #90909036;
  }

  .img-over{
    position: absolute;
    right: 0;
    bottom: 20px;
    display: inline-block;
    background-color: $themecolor;
    color: #fff;
    padding: 0.4em 2em;
    font-size: 20px;
  }

}

.s-box{
  display: block;
  width: 100%;
  border-bottom: 1px solid $themecolor;
  .s-title{
    display: inline-block;
    background-color: $themecolor;
    color:#ffffff;
    padding: 0.5em 2em;
    font-size: 18px;
  }
}